* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: white;
}
.error-text {
  color: red;
}

header.header {
  height: 112px;
  display: flex;
  align-items: center;

  -webkit-box-shadow: 0px 0px 15px -6px rgba(120, 120, 120, 1);
  -moz-box-shadow: 0px 0px 15px -6px rgba(120, 120, 120, 1);
  box-shadow: 0px 0px 15px -6px rgba(120, 120, 120, 1);
}

.header .logo {
  padding-left: 24px;
}

.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 680px;
  color: white;
}

.hero .left {
  padding-top: 72px;

  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-image: url("../../assets/img/hero.jpg");
  box-shadow: inset 0 0 0 2000px rgba(17, 59, 87, 0.8);
  padding-left: 15%;
}

.hero .right {
  padding-top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  padding-right: 15%;
  width: 50%;
  background-color: #3498db;
}

.hero .left h1 {
  text-align: left;
  width: 100%;
}

.hero .left ul {
  margin-top: 24px;
  width: 100%;
  font-size: 18px;
}
.hero .left ul li {
  margin-bottom: 12px;
}

.hero .right .header-text {
  font-size: 32px;
  text-align: right;
  width: 100%;
  font-weight: bold;
}
.hero .right input {
  text-align: right;
  width: 80%;
  border: none;
  margin: 20px 0;
  padding: 0 1rem;
  height: 42px;
  text-align: left;
  font-size: 24px;
}

.hero .right button,
.button {
  height: 42px;
  padding: 0 20px;
  border: none;
  font-weight: bold;
  display: flex;
  align-items: center;
  font-size: 20px;
  cursor: pointer;
  color: #5b77e6;
  text-decoration: none;
  background-color: #ededed;
  -webkit-box-shadow: 0px 0px 15px -2px #3857d5;
  -moz-box-shadow: 0px 0px 15px -2px #3857d5;
  box-shadow: 0px 0px 15px -2px #3857d5;
}

.hero .right button:hover,
.button:hover {
  background-color: #fff;

  -webkit-box-shadow: 0px 0px 15px 2px #3857d5;
  -moz-box-shadow: 0px 0px 15px 2px #3857d5;
  box-shadow: 0px 0px 15px 2px #3857d5;
}

.hero .right .button {
  margin-top: 56px;
}

.city-container {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  padding-top: 76px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.city-container .city {
  background-color: white;
  border-radius: 5px;
  position: relative;
  margin: 40px;
  height: 100%;
  width: 350px;
  -webkit-box-shadow: 0px 0px 15px -6px rgba(120, 120, 120, 1);
  -moz-box-shadow: 0px 0px 15px -6px rgba(120, 120, 120, 1);
  box-shadow: 0px 0px 15px -6px rgba(120, 120, 120, 1);
}

.city .header {
  border-bottom: 1px solid rgba(120, 120, 120, 0.4);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: -20px;
}

.city .deletecity {
  position: absolute;
  bottom: 12px;
  right: 12px;
  cursor: pointer;
  background: none;
  border: none;
}
.city .data {
  padding: 20px;
}

.city .city-data {
  list-style: none;
}

.city .city-data li {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
}

.city .city-data .cat {
  font-weight: bold;
  margin-right: 14px;
}

.footer {
  height: 124px;
  margin-top: 124px;
  background-color: #52a5dd;
}

.cityDetails {
  height: 36px;
  padding: 0 1rem;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #3498db;
  border: none;
}
@media only screen and (max-width: 765px) {
  .hero {
    flex-direction: column;
  }
  .hero .left,
  .hero .right {
    width: 100%;
    height: 640px;
  }
}
