.top-container {
  padding-top: 0;
}
.options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15%;
}
.sort {
  display: flex;
  align-items: center;
}

.sort select {
  margin: 0 12px;
}

.sort .direction {
  border: 1px solid black;
  padding: 0.2rem;
  background-color: #3498db;
  color: white;
  cursor: pointer;
}
